@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: none;
}

.custom-cursor {
  background-color: var(--primary-color);
  transition: transform 0.1s ease-out;
}

.custom-cursor:hover {
  transform: scale(1.2);
}